img {
    width: 150px;
    height: 150px;
}

.product-card {
    direction: rtl;
    display: flex;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 3%;
    width: 500px;

    .product-details {
        margin: auto;

        div {
            direction: ltr;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 2rem;
            margin-bottom: 10px;
        }
    }
}